.nav-bar{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 10px 30px;
    position: relative;
    border-bottom: 1px solid rgba(234, 234, 234, 1);

}

.nav-title{
color: rgba(69, 69, 69, 0.8);
max-height: 40px;

}


.user-section{
    display: flex;
    gap: 10px;
    max-height: 50px;
}
.username{
    padding: 5px 0px;
}
.username>p{

    font-size: 12px;
}