
.records-data{
    width: 100%;
    height: 92%; 
}


.records-data > thead>tr>th{
    background-color: rgba(178, 223, 255, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;   
}

.table-heading-names{
    border-right: 1px solid rgba(125, 125, 125, 1);
    padding-right: 10px;
    
}
.table-heading-names>span{
    color: rgba(56, 50, 44, 0.8);
}

#first-col-checkbox{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.records-data>tbody>tr>td{
    padding-left: 10px;
}
.records-data>tbody>tr:nth-child(2n){
    background-color: rgba(178, 223, 255, 0.31);
}

.action-icons{
    display: flex;
    gap: 5px;
    width: 70px;
}
.edit-row, .delete-row{
    border: 0;
    background: none;
}
.arrows-images{
    display: flex;
    flex-direction: column;
    gap:5px;
    height: 10px;
    width: 10px;
}
.Industry>.table-heading-names,
.Designation>.table-heading-names,
.Company>.table-heading-names
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


.records-data > tbody >tr>td:first-child,
.records-data > thead >tr>th:first-child{
    border-radius: 10px 0 0 10px;
    
 }


 .records-data > thead >tr>th:last-child,
 .records-data > tbody >tr>td:last-child{
    border-radius: 0 10px 10px 0;
 }